@import url("https://use.typekit.net/keu4syd.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
}

#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1.25rem 2.5rem;
  border-bottom: #F8F8F8 solid 2px;
}
#main-nav .main-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main-nav .main-nav-links svg {
  margin-right: 2.5rem;
}
#main-nav .main-nav-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main-nav a {
  padding: 0 0.625rem;
  font-size: 1.25rem;
}
#main-nav a.main-nav-links-bigger {
  color: #0000ff;
}
#main-nav a.main-nav-options-smaller {
  font-size: 1rem;
}

#homepage-grid {
  padding-bottom: 133.3333px;
}
#homepage-grid .homepage-grid-begin-options {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.25rem;
  padding: 1.25rem 2.5rem;
}
#homepage-grid .homepage-grid-begin-options:active {
  color: #ff764d;
}
#homepage-grid .homepage-hero {
  margin: 0 7rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/homepage-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#homepage-grid .homepage-hero h1 {
  font-size: 7rem;
  font-weight: 500;
  color: #ff764d;
}
#homepage-grid .homepage-grid-promo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 15vh;
  font-size: 1.875rem;
}
#homepage-grid .homepage-grid-promo-text span {
  color: #0000ff;
}
#homepage-grid .homepage-grid-promo-text .smaller {
  font-size: 1.25rem;
  font-weight: 400;
}
#homepage-grid .homepage-grid-promo-abstract {
  padding-top: 15vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#homepage-grid .homepage-grid-promo-abstract .promo-abs {
  height: 650px;
  width: auto;
  position: absolute;
  left: 112px;
  top: 300px;
}
#homepage-grid .homepage-grid-promo-abstract .rect-bg {
  background-color: #fbffa7;
  height: 100vh;
  width: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
}